mixin article(articles)
    .article(class=`${articles.article.toLowerCase()}`)
        .info
            h2= articles.article 
            p= articles.text 
        .image
            img(src=`./img/${articles.img}`, alt=`${articles.article}`)